// General definition
body {
  font-family: 'Catamaran', 'Helvetica', 'Arial', sans-serif;
  color: $font-color-default;
}

// Only use vertical position if not in mobile device
@media (min-width: $screen-sm-min){
  // Vertical position helper
  .vertical-center{
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-height: 100vh;
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
  }
}

.container {
  @include box-shadow(rgba(0,0,0,0.3) -3px 3px 30px);

  // Recolor links
  a {
    color: $font-color-container;
    text-decoration: none;

    &:hover {
      color: $font-color-default;
    }
  }
}

// Special logo container
.logo-mobile {
  display: none;
}
@media (max-width: $screen-md-min){
  .logo-mobile {
    display: block;
    background-color: #fff;
    height: 110px;

    .logo{
      display: block;
      width: 180px;
      height: 50px;
      background-image: url("../images/martin-neundorfer-logo-mobile-20160801.png");
      background-size: 180px 50px;
      background-position: left top;
      background-repeat: no-repeat;
      margin: 30px;
    }
  }
}

// Basic quadratic container definition
.quadratic{
  background-color: green;
  height: 300px;
  padding: 30px;
  color: $font-color-container;
  font-size: 18px;

  h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
  }

  .subheadline{
    font-weight: 700;
  }
}

// Define special containers
.container-image {
  height: 300px;
  background-position: top right;
  background-size: auto 300px;
  background-image: url('../images/photo-martin-neundorfer-richtig-so-20160801.jpg');

  // Show desktop logo only in desktop
  .logo {
    display: none;
  }
  @media (min-width: $screen-md-min) {
    .logo {
      display: block;
      width: 85px;
      height: 130px;
      background-image: url("../images/martin-neundorfer-logo-desktop-20160801.png");
      background-size: 85px 130px;
      background-position: left top;
      background-repeat: no-repeat;
      margin: 30px;
    }
  }
}

.container-contact {
  background-color: $color-layout-b;
}

.container-internet {
  background-color: $color-layout-a;

  ul {
    margin-top: 15px;
  }

  li {
    float: left;
    font-size: 35px;
    margin-right: 30px;
  }
}
