// Import compass helpers
@import "compass/reset";
@import "compass/css3";

// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

// General definition
body {
  font-family: 'Catamaran', 'Helvetica', 'Arial', sans-serif;
  color: #000;
}

.container{
  padding: 0;
  margin: 0;
}

// Add logo to screen
.logo-mobile{
  display: block;
  margin-top: 50px;
  content: url("../images/martin-neundorfer-logo-mobile-20160801.png");
}

// Add image to page
.container-image {
  margin: 50px 0;
  content: url('../images/photo-martin-neundorfer-richtig-so-20160801.jpg');
  width: 400px;
}